<h2>Welcome to Your Dashboard, {{user.username}}!</h2>
<a href="/dashboard/new-post">Create New Blog Post</a>
{{#if user.blogposts.length}}
  <ul>
    {{#each user.blogposts}}
      <li>
        <h3>{{title}}</h3>
        <p>Date: {{createdAt}}</p>
        <a href="/dashboard/post/{{id}}">Edit</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No blog posts yet.</p>
{{/if}}
